/* styling for puzzlegame container*/  
#puz-container{
    background-color: #272524;
    border-color: black;
    border: 8px solid;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
}

.puz-btn{
    background-color: #1eb4bcc7;
    position: relative;
    width: 20%;
    height: 20%;
    margin-right: -10px;
    font-size: 200%;
    font-weight: bold;
}

.puz-btn:hover{
    background-color: #1e6278;
    color : white;
}

#btn-scramble-text{
    font-family: 'Montserrat', sans-serif;
    
    color: #141d1d;
    background-color: #15586f;

    width: 30%;
    height: 10%;
    position: relative;

    border: 2px solid black;
    border-radius: 12px;
    outline: 2px solid gray;
    outline-offset: 2px;
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#btn-scramble-text:hover{
    color: #7ecdcd;
    background-color: #364348;
}