/* styling for puzzlegame container*/  
#puz-container{
    background-color: #272524;
    border-color: black;
    border: 8px solid;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
}

.puz-btn{
    background-color: #1eb4bcc7;
    position: relative;
    width: 20%;
    height: 20%;
    margin-right: -10px;
    font-size: 200%;
    font-weight: bold;
}

.puz-btn:hover{
    background-color: #1e6278;
    color : white;
}

#btn-scramble-text{
    color: #141d1d;
    background-color: #15586f;
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    height: 10%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#btn-scramble-text:hover{
    color: #f10b5f;
}